:root {
  --primary-color: #1990ff;
  --primary-dark: #017ef6;
  --primary-darker: #0057a8;
  --white: #fff;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-size: 16px;
  padding: 0;
}

#root {
  height: 100vh;
}

.app {
  height: inherit;
}

/* Helpers */
.full--width {
  width: 100%;
}

.display--flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.align--self--end {
  align-self: flex-end;
}

.margin--top--2 {
  margin-top: 15px;
}
